@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap');
/* font-family: 'Handlee', cursive;
font-family: 'Montserrat', sans-serif; */
* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    /* para anclar el footer */
    min-height: 100%;
    position: relative;
}
img {
    width: 100%;
    height: auto;
    display: block;
}
:root {
    --fuenteprincipal: 'Montserrat', sans-serif;
    --fuentesecundaria: 'Handlee', cursive;
    --colorprincipal: #fa573a;
    --colorsecundario: #21242e;
    --margingrid: 1em;
    --fontsize: 1em;
    --anchomaximo: 1100px;
}
body {
    font-family: var(--fuenteprincipal);
    font-size: var(--fontsize);
}
/* clase para encorsetar  */
.container {
    max-width: var(--anchomaximo);
    margin: 0 auto;
}
/* inicio header */
header .nav-top {
    background-color: var(--colorsecundario);
    padding: var(--margingrid) 0px;
}
header .nav-top .container {
    display: flex;
    justify-content: space-around;
}
header .nav-top a {
    color: var(--colorprincipal);
    text-decoration: none;
}
header .nav-top a span {
    display: none;
}
header .nav-top a i {
    font-size: 150%;
}
header nav {
    padding: var(--margingrid);
}
header nav .hamburguesa {
    cursor: pointer;
}
header .logo {
    float: left;
    max-width: 100px;
}
header .hamburguesa {
    float: right;
}
header .menu {
    padding-top: 60px;
    text-align: center;
}
header .menu a {
    text-decoration: none;
    display: block;
    padding: calc(var(--margingrid)*1.25);
    color: #aaa;
    border-bottom: 1px solid #aaa;
}
/* quitar ultima linea */
header .menu li:last-child a {
    border: 0px;
}
header .menu .activo {
    color: var(--colorprincipal);
}

/* las tres rayas sean boton */
header nav .hamburguesa div {
    border-top: 2px solid #aaa;
    margin-bottom: calc(var(--margingrid)*0.75);
    width: 2em;
}
/* fin header */

/* Inicio footer */

footer {
    background-color: var(--colorsecundario);
    padding: var(--margingrid) 0px;
    color: white;
    text-align: center;
    bottom: 0;
    position: absolute;
    width: 100%;
         
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: var(--colorprincipal);
}
.flecha a {
    display: block;
    color: var(--colorprincipal);
    position: fixed;
    bottom: 5%; /* colocar el boton mas bajo*/
    right: 10px;
    font-size: 250%;
}

/* Fin footer */

/* Inicio Hero */

.hero {
    background-image: url(../images/fondo.jpg);
    height: 60vh;
    background-position: center center;
    background-size: cover;
    background-color: #777;
    background-blend-mode: multiply;
    color: white;
    display: flex;
}
/* para centrar las letras centradas y a la izq de la foto */
.hero .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}
.hero h1 {
    font-family: var(--fuentesecundaria);
    font-size: 2.25em;
}
.hero h2 {
    color: var(--colorprincipal);
    margin: var(--margingrid) 0;
    font-size: 1.25em;
}
.hero p {
    font-size: 1.15em;
}
/* quitar de herencia para poder usarlo en otros elementos */

.boton {
    display: inline-block; /*para clicar en todos los sitios, pone en linea el bloque */
    background-color: var(--colorprincipal);
    padding: var(--margingrid);
    color: white;
    text-decoration: none;
    margin: var(--margingrid) 0; /* el cero le deja a la izq*/
    border: 1px solid var(--colorprincipal);
}
.boton:hover {
    background: transparent;
    color: var(--colorprincipal);
}
.boton:hover i {
    transform: translateX(5px); /*animar la flecha*/
    transition: 0.5s;
}
.hero .social {
    display: flex; /* pone los iconos en linea*/
    justify-content: space-between; /*usa todo el espacio*/
    width: 150px; /* acota el espacio*/
}

.hero .social a {
    color: white;
    text-decoration: none;
    font-size: 2em;
}

/* Fin Hero */

/* Inicio OurServices */

/* margen de seguridad a todas las secciones */
main section {
    padding: calc(var(--margingrid)*3) var(--margingrid);
}

/* modificar our service */
main section h2 {
    color: black;
    font-family: var(--fuentesecundaria);
    font-size: 2em;
    text-align: center;
    
}
/* color del Service */
main section h2 span {
    color: var(--colorprincipal);
}
/* }centrar la linea <hr> y la X */
main section .underline {
    position: relative;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: var(--margingrid);
}
/* poner la X dentro de la linea */
main section .underline hr {
    position: absolute;
    width: 100%;
    top: -1px;
    border-color: var(--colorprincipal); /*solo así porque ya es un border*/
}
main section .underline span {
    color: var(--colorprincipal);
    font-weight: 700; /*mejor que bold porque ya tenemos esa fuente */
}
/* ya está en linea no hacemos más  */
main #ourservices .grid {
    display: grid;
}
main #ourservices .grid article {
    padding: calc(var(--margingrid)*2) 0;
    border-bottom: 1px solid #aaa;
}
main #ourservices .grid article div i {
    color: var(--colorprincipal);
    font-size: 150%;
    border: 1px solid var(--colorprincipal);
    padding: 00.5em;
}
main #ourservices .grid article h3 {
    font-weight: 700;
    margin: 10px 0;
    font-size: 110%;
}
/* para los parrafos no entramos hasta el fondo porque luego tenemos otros parrafos, así se modifican todos */
/* main #ourservice .grid  */
main section p {
    color: #666;
    line-height: 1.25; /* modifica altura de linea*/
    margin-bottom: 10px; /*solo una medida*/
}
.enlace {
    text-decoration: none;
    color: var(--colorprincipal);
    font-weight: 700;
}
/* para girar el camión, lo hacemos en el eje Y */
.fa-truck {
    transform: rotateY(180deg);
}
 
/* Fin OurServices */

/* Inicio About Us */

/* maquetar columnas */
main #aboutus .flex .columns {
    margin: var(--margingrid) 0;
}
main #aboutus .columns h3 {
    font-weight: 700;
    font-size: 110%;
}
main #aboutus .columns h4 {
    margin: 0.8em 0;
    color: var(--colorprincipal);
}
main #aboutus .imagen {
    width: 80%;
}
/* efectos de imagen */
main #aboutus .imagen .marco {
    border: 3px solid var(--colorprincipal);
    transform: rotateZ(10deg);
    transition: 1s; /* animación*/
} 
main #aboutus .imagen .marco img {
    transform: rotateZ(-10deg);
    transition: 1s; /* animación*/
}
main #aboutus .imagen:hover .marco, main #aboutus .imagen:hover .marco img {
    transform: rotateZ(0deg);
}
main #aboutus {
    margin-bottom: 2em;
}

/* Fin About Us */

/* mediaquerys al final */

@media(min-width: 600px){
    main #ourservices .grid {
        grid-template-columns: repeat(2, 1fr);
        gap: var(--margingrid); /*separación de columnas*/
    }
    /* donde elegir la columna */
    main #ourservices .grid article:last-child {
        grid-column: 1/3;
    }
    main #ourservices .grid article {
        border-bottom: 0px;
        border-left: 1px solid #aaa;
        padding: var(--margingrid);
    }
    main #aboutus .flex {
        display: flex;
    }
}


@media(min-width: 768px) {
    header .nav-top a span {
        display: inline;
        color: white;
    }
    header .nav-top a i {
        font-size: 120%;
    }
    footer {
        text-align: left;
    }
    main #ourservices .grid {
        grid-template-columns: repeat(3, 1fr);
    }
    main #ourservices .grid article:last-child {
        grid-column: 3/4;
    }
}

@media(min-width: 1004px) {
    header .hamburguesa {
        display: none;
    }
    header .menu {
        padding-top: 0px;
        text-align: right;
    }
    header .menu li {
        display: inline-block;
    }
    header .menu li a {
        border: 0px;
        padding: 0.5em calc(var(--margingrid));
    }
}



